@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /*background-color: ;*/
  background: rgb(189, 147, 189);
  background: radial-gradient(
    circle,
    rgba(189, 147, 189, 1) 0%,
    rgba(146, 94, 120, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  user-select: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.box {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(146, 94, 120, 1);
  padding: 50px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /*width: 300px;
  height: 300px;*/
}
.logo {
  font-family: "Fredoka One";
}
.btn {
  padding: 20px;
  font-size: large;
  text-decoration: none;
  font-weight: 600;
  border: none;
  background-color: rgba(146, 94, 120, 1);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  font-size: larger;
  background-color: rgba(146, 94, 120, 1);
  color: white;
  transition: all 0.5s;
}
.input {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0 solid transparent;
  border-radius: 5px;
}
.table {
  margin: 0;
  table-layout: initial;
  width: 100%;
  text-overflow: clip;
}
.table td {
  text-align: center;
}
.table h1 h2 h3 h4 h5 p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.combobox {
  border: none;
  padding: 5px;
  width: 100%;
}
.p5Canvas {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px;
}
#musica_btn {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}